/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'haymakerregular';
  src: url("../font/haymaker-webfont.eot");
  src: url("../font/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("../font/haymaker-webfont.woff") format("woff"), url("../font/haymaker-webfont.ttf") format("truetype"), url("../font/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_app.scss */
body, html {
  font: 13px/18px regular "haymakerregular";
}

/* line 5, ../sass/_app.scss */
a {
  font-family: 'haymakerregular';
}

/* Button */
/* line 11, ../sass/_app.scss */
.exit,
button {
  font-family: 'haymakerregular';
  margin: 0;
  padding: 0;
  color: #e1d0a5;
  border: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  background: none;
  text-decoration: none;
  z-index: 2;
}
/* line 23, ../sass/_app.scss */
.exit:hover,
button:hover {
  cursor: pointer;
}

/* Transitions */
/* line 29, ../sass/_app.scss */
.linear {
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

/* line 37, ../sass/_app.scss */
.easeInOut {
  -webkit-transition: all 500ms cubic-bezier(0.995, 0.01, 0, 1);
  -moz-transition: all 500ms cubic-bezier(0.995, 0.01, 0, 1);
  -ms-transition: all 500ms cubic-bezier(0.995, 0.01, 0, 1);
  -o-transition: all 500ms cubic-bezier(0.995, 0.01, 0, 1);
  transition: all 500ms cubic-bezier(0.995, 0.01, 0, 1);
}

/* Toggle */
/* line 46, ../sass/_app.scss */
.show {
  display: block!important;
}

/* line 50, ../sass/_app.scss */
#title {
  width: 920px;
  height: 63px;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #f2f2f2;
  display: none;
}
/* line 58, ../sass/_app.scss */
#title a {
  text-indent: 25px;
  color: black;
  display: block;
  height: 53px;
  font-size: 18px;
  line-height: 65px;
  padding: 0;
  text-decoration: none;
  font-family: haymakerregular;
}
/* line 68, ../sass/_app.scss */
#title a:hover {
  color: #e1d0a5;
}

/* line 75, ../sass/_app.scss */
#loadContainer,
#container {
  display: none;
}

/* line 79, ../sass/_app.scss */
#loadContainer {
  width: 920px;
  height: 600px;
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/_app.scss */
#container {
  width: 920px;
  height: 450px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Landing Page */
}
/* line 94, ../sass/_app.scss */
#container #landing {
  width: 100%;
  height: 200%;
  float: left;
  margin-top: -450px;
  /* Video Overlay */
}
/* line 99, ../sass/_app.scss */
#container #landing .menu {
  width: 100%;
  height: 50%;
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/landing920x450.jpg") no-repeat top left;
}
/* line 103, ../sass/_app.scss */
#container #landing .menu ul {
  width: 335px;
  margin: 0;
  padding: 237px 0 0 40px;
}
/* line 107, ../sass/_app.scss */
#container #landing .menu ul li {
  margin: 0 0 23px 0;
  padding: 0;
}
/* line 110, ../sass/_app.scss */
#container #landing .menu ul li a {
  display: block;
  font-size: 22px;
  line-height: 18px;
  color: white;
  font-family: 'haymakerregular';
  text-decoration: none;
}
/* line 117, ../sass/_app.scss */
#container #landing .menu ul li a:hover {
  color: #e1d0a5;
}
/* line 125, ../sass/_app.scss */
#container #landing .block {
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}
/* line 134, ../sass/_app.scss */
#container #landing .overlay {
  background: black;
}
/* line 136, ../sass/_app.scss */
#container #landing .overlay .left {
  width: 120px;
  height: 450px;
  margin: 0;
  padding: 0;
  left: 0;
  float: left;
}
/* line 143, ../sass/_app.scss */
#container #landing .overlay .left ul {
  width: 120px;
  height: 290px;
  overflow: hidden;
  margin: 162px 0 0 0;
  list-style: none;
}
/* line 149, ../sass/_app.scss */
#container #landing .overlay .left ul li {
  display: block;
  width: 120px;
  height: 70px;
  margin: 2px 0 0 0;
  overflow: hidden;
}
/* line 155, ../sass/_app.scss */
#container #landing .overlay .left ul li button, #container #landing .overlay .left ul li a {
  width: 100%;
  height: 70px;
  display: block;
  padding: 20px 0;
  color: #e1d0a5;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background: #222;
  text-decoration: none;
}
/* line 166, ../sass/_app.scss */
#container #landing .overlay .left ul li button:hover, #container #landing .overlay .left ul li a:hover {
  color: black;
  background: #e1d0a5;
}
/* line 173, ../sass/_app.scss */
#container #landing .overlay .left .btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  line-height: 18px;
  text-align: center;
  color: #e1d0a5;
}
/* line 181, ../sass/_app.scss */
#container #landing .overlay .left .close {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  color: #e1d0a5;
  text-align: left;
}
/* line 191, ../sass/_app.scss */
#container #landing .overlay .left .close span {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 24px;
  font-size: 1.15em;
  height: 24px;
  text-align: center;
  line-height: 23px!important;
  border: 1px solid #e1d0a5;
  border-radius: 30px;
}
/* line 224, ../sass/_app.scss */
#container #landing .overlay .theatre {
  width: 800px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
  float: left;
}
/* line 230, ../sass/_app.scss */
#container #landing .overlay .theatre #frame {
  opacity: 0;
}
/* line 235, ../sass/_app.scss */
#container #landing .overlay #vd1,
#container #landing .overlay #vid2 {
  display: none;
}

/* line 1, ../sass/_swatches.scss */
#swatches {
  width: 920px;
  height: 450px;
  float: left;
  margin-right: -920px;
}
/* line 6, ../sass/_swatches.scss */
#swatches .pantsContainer {
  position: relative;
  width: 920px;
  height: 450px;
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/denim920x450.jpg");
}
/* line 11, ../sass/_swatches.scss */
#swatches .pantsContainer .exit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
}
/* line 19, ../sass/_swatches.scss */
#swatches .pantsContainer ul .textPantsNav {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50%;
  left: 0;
  font-family: 'haymakerregular';
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  margin-top: -25px;
  color: #ffffff;
}
/* line 31, ../sass/_swatches.scss */
#swatches .pantsContainer ul .textPantsNav .arrow {
  font-family: arial;
  margin: 0 10px;
}
/* line 38, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes {
  position: absolute;
  width: 450px;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 365px;
}
/* line 46, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li {
  position: absolute;
  display: block;
}
/* line 49, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li a {
  width: inherit;
  height: inherit;
  display: block;
}
/* line 55, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes .textWashes {
  text-indent: 34px;
}
/* line 60, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants1 {
  width: 143px;
  height: 145px;
  top: 47px;
  left: 203px;
}
/* line 64, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants1 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants.png") no-repeat;
}
/* line 71, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants2 {
  width: 143px;
  height: 145px;
  top: 82px;
  left: 273px;
}
/* line 75, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants2 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants2.png") no-repeat;
}
/* line 82, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants3 {
  width: 139px;
  height: 140px;
  top: 188px;
  left: 290px;
}
/* line 86, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants3 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants3.png") no-repeat;
}
/* line 93, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants4 {
  width: 138px;
  height: 148px;
  top: 249px;
  left: 256px;
}
/* line 97, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants4 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants4.png") no-repeat;
}
/* line 104, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants5 {
  width: 139px;
  height: 139px;
  top: 270px;
  left: 148px;
}
/* line 108, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants5 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants5.png") no-repeat;
}
/* line 115, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants6 {
  width: 165px;
  height: 148px;
  top: 236px;
  left: 65px;
}
/* line 119, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants6 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants6.png") no-repeat;
}
/* line 126, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants7 {
  width: 142px;
  height: 145px;
  top: 129px;
  left: 61px;
}
/* line 130, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants7 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants7.png") no-repeat;
}
/* line 137, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants8 {
  width: 145px;
  height: 161px;
  top: 53px;
  left: 90px;
}
/* line 141, ../sass/_swatches.scss */
#swatches .pantsContainer ul.washes li.pants8 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/pants8.png") no-repeat;
}
/* line 148, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors {
  position: absolute;
  top: 0;
  right: 0;
  width: 460px;
  height: 100%;
}
/* line 153, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li {
  position: absolute;
  display: block;
}
/* line 157, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li .textColor {
  left: 110px;
}
/* line 160, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li a {
  width: inherit;
  height: inherit;
  display: block;
}
/* line 166, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors .textColor {
  text-indent: -40px;
}
/* line 171, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color1 {
  width: 145px;
  height: 161px;
  top: 39px;
  left: 168px;
}
/* line 175, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color1 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color1.png") no-repeat;
}
/* line 182, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color2 {
  width: 152px;
  height: 132px;
  top: 93px;
  left: 237px;
}
/* line 186, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color2 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color2.png") no-repeat;
}
/* line 193, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color3 {
  width: 142px;
  height: 133px;
  top: 193px;
  left: 250px;
}
/* line 197, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color3 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color3.png") no-repeat;
}
/* line 204, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color4 {
  width: 143px;
  height: 158px;
  top: 241px;
  left: 224px;
}
/* line 208, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color4 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color4.png") no-repeat;
}
/* line 215, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color5 {
  width: 145px;
  height: 143px;
  top: 262px;
  left: 110px;
}
/* line 219, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color5 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color5.png") no-repeat;
}
/* line 226, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color6 {
  width: 155px;
  height: 144px;
  top: 231px;
  left: 38px;
}
/* line 230, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color6 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color6.png") no-repeat;
}
/* line 237, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color7 {
  width: 137px;
  height: 138px;
  top: 131px;
  left: 30px;
}
/* line 241, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color7 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color7.png") no-repeat;
}
/* line 248, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color8 {
  width: 141px;
  height: 151px;
  top: 57px;
  left: 60px;
}
/* line 252, ../sass/_swatches.scss */
#swatches .pantsContainer ul.colors li.color8 a:hover {
  background: url("http://elementskateboards.com/micro/2013/denim-fall-13/made-to-endure/img/color8.png") no-repeat;
}
