@font-face{
    font-family: 'MyWebFont';
    src: url('../font/WebFont.eot');
    src: url('../font/WebFont.eot?#iefix') format('embedded-opentype'),
         url('../font/WebFont.woff') format('woff'),
         url('../font/WebFont.ttf') format('truetype'),
         url('../font/WebFont.svg#webfont') format('svg');
}