@font-face {
    font-family: 'haymakerregular';
    src: url('../font/haymaker-webfont.eot');
    src: url('../font/haymaker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/haymaker-webfont.woff') format('woff'),
         url('../font/haymaker-webfont.ttf') format('truetype'),
         url('../font/haymaker-webfont.svg#haymakerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}